@charset "utf-8";

/* ***** /// Fonts /// ***** */

/*@import "https://fonts.googleapis.com/css?family=Moirai%20One";
@import "https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap";
@import "https://fonts.googleapis.com/css2?family=Shizuru&display=swap";
@import "https://fonts.googleapis.com/css2?family=Rock+3D&display=swap";
@import "https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap";
@import "https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap";*/
@import "https://fonts.googleapis.com/css2?family=Pacifico&display=swap";

@import "/fonts/c059.css";

/* ***** /// Basic elements /// ***** */

body {
	background-color: #20232B;
	color: lightgray;
	font-family: "C059";
	font-size: 17px;
}

h1 {
	font-family: "Pacifico";
}

/* *** <a> tags *** */
a {
}

a:link {
	color: #F82467;
}

a:visited {
	color: #D11845;
}

a:focus {
}

a:hover {
}

a:active {
}

/* ***** /// formatting classes /// ***** */

.center {
	text-align: center;
}

.quote {
	text-align: center;
	font-style: italic;
}

img.emojimg {
	height: 1em;
	vertical-align: descent;
}

/* *** .article *** */
body.article p {
	width: 90%;
}

body.article p:first-of-type::first-letter {
	font-size: 2em;
	color: lavender;
}

